.panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    canvas {
        touch-action: none;
    }
}

.canvasContainer {
    display: flex;
    justify-content: center;
}
