.panel {
    display: flex;
    justify-content: center;
    flex-direction: column;

    canvas {
        touch-action: none;
    }
}

.canvasContainer {
    display: flex;
    justify-content: center;
}
