@media screen and (min-height: 900px) {
  .appContainer {
    padding-top: 2em;
  }
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appHeader {
  text-align: center;
  margin-bottom: 1em;
}
